doctype 5
html(lang="en")
  head
    title App.net Social Buttons
    link(href='/assets/css/app_#{assets()['app.css']}.css', media="all", rel="stylesheet", type="text/css")
  body
    a(href='#', class='button')
    script(src='/assets/js/app_#{assets()['app.js']}.js')