doctype 5
html(lang="en")
  head
    title App.net Social Buttons
    link(href='/assets/css/app_#{assets()['app.css']}.css', media="all", rel="stylesheet", type="text/css")
  body
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='/assets/js/app_#{assets()['app.js']}.js')